<html lang="en">
<head>
    <title>Ассемблер RISC-V</title>
    <link rel="stylesheet" href="/static/styles/universal.css">
    <link rel="stylesheet" href="/static/styles/index_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>

<header>
        <div class="header_rectangle">
          <a href="/commands"><img class="logo_image" src="http://127.0.0.1:9000/rvimg/logo.png" alt="logo"></a>
        </div>
</header>

<div id="navigation" class="navigation">
    <div class="searchbar_rectangle">  

          <form action="/commands" method="GET">
            <div class="searchbar">
              <input type="text" name="searchQuery" value="{{ .searchQuery }}" placeholder="Поиск" class = "searchbar_text mag_glass">
              <button type="submit" class="btn" style="display: inline-block; height: 40px; border-radius: 4px;">Найти</button>
            </div>
          </form>
    </div>

  <div class="command_icon">
    <a href="/program">
      <svg width="38" height="34" viewBox="0 0 38 34" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M24 32H26.5V33.25H11.5V32H14L15.25 28.25H22.75L24 32ZM37.75 0.75V27H0.25V0.75H37.75ZM35.25 3.25H2.75V24.5H35.25V3.25ZM34 23.25H4V4.5H34V23.25ZM7.75 9.5H17.75V8.25H7.75V9.5ZM12.75 18.25H7.75V19.5H12.75V18.25ZM22.75 15.75H11.5V17H22.75V15.75ZM22.75 13.25H11.5V14.5H22.75V13.25ZM24 10.75H11.5V12H24V10.75Z" fill="#111918"/>
      </svg>
    </a>
        <div class="amount_ellipse_text amount_ellipse">2</div>
  </div>

</div>

<div id="card-container" class="card_group">
  {{ range .commands }}
    <div id="card" class="card">
      <img src="{{ .CardImage }}" class="card_image">
      <p class="col_name_text rectangle">Название команды</p>
      <p class="col_content_text">{{ .ComName }}</p>
      <p class="col_name_text rectangle">Формат</p>
      <p class="col_content_text">{{ .Fmt }}</p>
      <p class="col_name_text rectangle">№ регистра rs</p>
      <p class="col_content_text">{{ .RsNum }}</p>
      <p class="col_name_text rectangle">№ регистра rd</p>
      <p class="col_content_text">{{ .RdNum }}</p>
      <a href="/command/{{ .ID }}" class="btn card_btn">Подробнее</a>
    </div>
  {{end}}
</div>

<div class="down">

</div>

<div id="main-page" class="container-fluid">
    <nav id="header" class="navbar navbar-expand-lg">
        <div id="home-container" class = "navbar-brand"></div>
    </nav>
    <div id="button-container" class = "d-flex flex-wrap gap-3"></div>
    <div id="card-container" class="d-flex flex-wrap gap-3"></div>
</div>